/* GENERALES */
html {
	margin: 0;
	padding: 0;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}
a {
	text-decoration: none;
	text-decoration: underline;
	margin: 15px;
}

.casaRoja {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
